.gameDetails {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.gameDetails h1, .gameDetails h2, .gameDetails h3 {
    color: #333;
}

.gameDetails img {
    width: 100%; /* Makes image responsive */
    max-height: 500px; /* Limiting the vertical size */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    border-radius: 8px;
    margin-bottom: 20px;
}

.gameDetails ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 20px auto;
    max-width: 800px;
}

.gameDetails li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c; /* Green background for the button */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

